body {
  /* border: 5px solid black; */
  background-color: rgb(42, 86, 180);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map { 
  width: 100%;
  height: 90vh;
  position: relative;
} 

.location-icon {
  font-size: 5rem;

}

/* may need to rework the below css to change height of pics */
.listcard-image{
  max-width: 100%;
  min-height:183px;
  max-height: 183px;
  display: block; /* remove extra space below image */
  cursor: pointer;
}



.pointer {cursor: pointer;}