body {
  /* border: 5px solid black; */
  background-color: rgb(42, 86, 180);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map { 
  width: 100%;
  height: 90vh;
  position: relative;
} 

.location-icon {
  font-size: 5rem;

}

/* may need to rework the below css to change height of pics */
.listcard-image{
  max-width: 100%;
  min-height:183px;
  max-height: 183px;
  display: block; /* remove extra space below image */
  cursor: pointer;
}



.pointer {cursor: pointer;}


/* Light and Dark Mode */

div.light {

}

div.dark {
  background-color: #34526f;
  height: 120vh;
  width: 100%;  

}

div#segment-light {

}

div#segment-dark{
  background-color: #dce0e6;

}
/* ludicrousMode Experiment */

div.App {
  background-image: url(./components/backgrounds/Ian-Red-Laser-Eyes.jpeg);
  height: 120vh;
  width: 100%;  
}

div.alt-app {
  background-image: url(./components/backgrounds/chase-laser.png);
  height: 120vh;
  width: 100%;
}

div#bgid{
  background-image: url(./components/backgrounds/Ian-Red-Laser-Eyes.jpeg);  
}

div#alt-bgid{
  background-image: url(./components/backgrounds/chase-laser.png);
}



